{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Aircraft {{ aircraft.reg }} MELs{% endblock %}

{% block page_title %}
    Aircraft {{ aircraft.reg }} MELs
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home:overview' %}">Overview</a>
        </li>
        <li>
            <a href="{% url 'home:aircraft_details' reg=aircraft.reg %}">{{ aircraft.reg }}</a>
        </li>
        <li class="active">
            <span>MELs</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>MELs</h3>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Reg #</th>
                        <th>Date Logged</th>
                        <th>Date Closed</th>
                        <th>WO Number</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>C/W Date</th>
                        <th>Unit</th>
                        <th>Interval</th>
                        <th>Logbook Times</th>
                        <th>Due (Ext)</th>
                        <th>Tracked</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="12">
                            <strong class="uppercase">
                                170208-3 L/H O/B Aft Cowling Attach Bracket Cracked
                            </strong>
                            <div class="pull-right">Service ATA:71</div>
                        </td>
                    </tr>
                    <tr>
                        <td>N165TG</td>
                        <td>08-FEB-17</td>
                        <td></td>
                        <td>N165TGP2-2/6/17</td>
                        <td class="uppercase">Non-Deferred</td>
                        <td class="uppercase">Open</td>
                        <td></td>
                        <td>Days</td>
                        <td></td>
                        <td>08-FEB-17</td>
                        <td>08-FEB-17</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td colspan="12">
                            <strong class="uppercase">
                                170208-3 L/H O/B Aft Cowling Attach Bracket Cracked
                            </strong>
                            <div class="pull-right">Service ATA:71</div>
                        </td>
                    </tr>
                    <tr>
                        <td>N165TG</td>
                        <td>08-FEB-17</td>
                        <td></td>
                        <td>N165TGP2-2/6/17</td>
                        <td class="uppercase">Non-Deferred</td>
                        <td class="uppercase">Open</td>
                        <td></td>
                        <td>Days</td>
                        <td></td>
                        <td>08-FEB-17</td>
                        <td>08-FEB-17</td>
                        <td>No</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
