{% extends "layout.html" %}
{% load staticfiles %}
{% load duestatus %}

{% block head_title %}Overview{% endblock %}

{% block page_title %}
    Aircrafts Overview
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Aircrafts Overview</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Maintenance Information Center</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5">
                    <h4>Maintenance items</h4>
                    <div class="row narrow">
                        <div class="col-sm-4">
                            <div class="widget red-bg p-h-md text-center">
                                <h1 class="m-sm">{{ past_due_count }}</h1>
                                <small>Past due</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget orange-bg p-h-md text-center">
                                <h1 class="m-sm">{{ threshold_count }}</h1>
                                <small>Within Thresholds</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget yellow-bg p-h-md text-center">
                                <h1 class="m-sm">{{ not_due_count }}</h1>
                                <small>Not due</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>Non-Routine Maintenance</h4>
                    <div class="row narrow">
                        <div class="col-sm-4">
                            <div class="widget navy-bg p-h-md text-center">
                                <h1 class="m-sm">3</h1>
                                <small>Discrepancies</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget navy-bg p-h-md text-center">
                                <h1 class="m-sm">0</h1>
                                <small>MELs</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h3>Fleet</h3>
        </div>
        <div class="ibox-content">
            <table id="aircraft-table" class="datatable table table-stripped toggle-arrow-tiny"
                data-name="aircraft_table"
                data-default-sort-column="2"
                data-selectable="true">
                <thead>
                    <tr>
                        <th data-sortable="false"><input type="checkbox" class="select-all"></th>
                        <th data-sortable="false"></th>
                        <th>Aircraft</th>
                        <th>Reported Date</th>
                        <th data-hide="all">Reported Hours</th>
                        <th data-hide="all">Reported Landings</th>
                        <th data-hide="all">Next Item Due</th>
                        <th data-hide="all">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aircraft in aircrafts %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="javascript:;" class="details-control">
                                    <i class="closed-icon fa fa-chevron-right"></i>
                                    <i class="open-icon fa fa-chevron-down" style="display: none;"></i>
                                </a>
                            </td>
                            <td>{{ aircraft.reg }}</td>
                            <td>{{ aircraft.reported_date | date:"d-M-Y" }}</td>
                            <td>{{ aircraft.airframe.reported_hours }}</td>
                            <td>{{ aircraft.airframe.reported_landings }}</td>
                            <td>{{ aircraft.airframe.next_inspection_time | date:"d-M-Y" }}</td>
                            <td>{{ aircraft.airframe.next_inspection_time | duestatus }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% for aircraft in aircrafts %}
                <div id="aircraft-{{ aircraft.reg }}-detail" style="display: none;">
                    <div class="m-t-md p-w-sm">
                        {% include 'partial/aircraft_details.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript">
        $('#aircraft-table').on('click', '.details-control', function() {
            var table = window.datatables && window.datatables.get('aircraft_table');
            if (table) {
                var $tr = $(this).closest('tr');
                var row = table.row($tr);
                var reg = row.data()[2];
                if ( row.child.isShown() ) {
                    row.child.hide();
                    $(this).find('.closed-icon').css('display', 'inline-block');
                    $(this).find('.open-icon').css('display', 'none');
                }
                else {
                    var html = $('#aircraft-' + reg + '-detail').html()
                    row.child(html).show();
                    $(this).find('.closed-icon').css('display', 'none');
                    $(this).find('.open-icon').css('display', 'inline-block');
                }
            }
        });
    </script>
{% endblock %}