{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Overview{% endblock %}

{% block page_title %}
    Aircrafts Overview
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Aircrafts Overview</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Maintenance Information Center</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-5">
                    <h4>Maintenance items</h4>
                    <div class="row narrow">
                        <div class="col-sm-4">
                            <div class="widget red-bg p-h-md text-center">
                                <h1 class="m-sm">30</h1>
                                <small>Past due</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget orange-bg p-h-md text-center">
                                <h1 class="m-sm">0</h1>
                                <small>Within Thresholds</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget yellow-bg p-h-md text-center">
                                <h1 class="m-sm">20</h1>
                                <small>Past due</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>Non-Routine Maintenance</h4>
                    <div class="row narrow">
                        <div class="col-sm-4">
                            <div class="widget navy-bg p-h-md text-center">
                                <h1 class="m-sm">3</h1>
                                <small>Discrepancies</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget navy-bg p-h-md text-center">
                                <h1 class="m-sm">0</h1>
                                <small>MELs</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h3>Fleet</h3>
        </div>
        <div class="ibox-content">
            <table class="datatable table table-stripped toggle-arrow-tiny" data-name="aircraft_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="select-all"></th>
                        <th>Aircraft</th>
                        <th>Reported Date</th>
                        <th data-hide="all">Reported Hours</th>
                        <th data-hide="all">Reported Landings</th>
                        <th data-hide="all">Next Item Due</th>
                        <th data-hide="all">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aircraft in aircrafts %}
                        <tr>
                            <td></td>
                            <td>{{ aircraft.reg }}</td>
                            <td>{{ aircraft.airframe.last_inspection_time | date:"d-M-Y" }}</td>
                            <td>{{ aircraft.airframe.reported_hours }}</td>
                            <td>{{ aircraft.airframe.reported_landings }}</td>
                            <td>{{ aircraft.airframe.last_inspection_time | date:"d-M-Y" }}</td>
                            <td>
                                <span class="label label-warning">0 - 10 days</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}