{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Aircraft {{ aircraft.reg }} Task List{% endblock %}

{% block page_title %}
    Aircraft {{ aircraft.reg }} Task List
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home:overview' %}">Overview</a>
        </li>
        <li>
            <a href="{% url 'home:aircraft_details' reg=aircraft.reg %}">{{ aircraft.reg }}</a>
        </li>
        <li class="active">
            <span>Task List</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Task List</h3>
        </div>
        <div class="ibox-content">
            {% if aircraft.inspection_program %}
                {% for inspection in aircraft.inspection_program.inspection_set.all %}
                    <h5>{{ inspection.name }}</h5>
                {% endfor %}
            {% else %}
                Aircraft doesn't have an inspection program assigned.
            {% endif %}
        </div>
    </div>
{% endblock %}
