{% extends "layout.html" %}
{% load staticfiles %}
{% load formatter %}

{% block head_title %}Aircraft {{ aircraft.reg }} {{ inspection_task.name }}{% endblock %}

{% block page_title %}
    Aircraft {{ aircraft.reg }} {{ inspection_task.name }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home:overview' %}">Overview</a>
        </li>
        <li>
            <a href="{% url 'home:aircraft_details' reg=aircraft.reg %}">{{ aircraft.reg }}</a>
        </li>
        <li>
            <a href="{% url 'home:aircraft_task_list' reg=aircraft.reg %}">Task List</a>
        </li>
        <li class="active">
            <span>{{ inspection_task.name }}</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>{{ inspection_task.name }}</h3>
        </div>
        <div class="ibox-content">
            Task Content
        </div>
    </div>
{% endblock %}
