*.DS_Store
*.pyc
__pycache__
.idea
.idea/*
.venv
runserver
deploy
files
media/*
static/*
**/migrations/**
mxtracking/local_settings.py
assets/tmp

fabric/ssh/*
!fabric/ssh/_put_ssh_key_here.txt
fabric_settings.py
