*.DS_Store
*.pyc
__pycache__
.idea
.idea/*
.venv
.coverage
runserver
files
media/*
static/*
mxtracking/local_settings.py
assets/tmp
node_modules
webpack/webpack-stats.json
/log

deploy/ssh/*
!deploy/ssh/_put_ssh_key_here.txt
fabric_settings.py

npm-debug.log

frontend/test/unit/coverage
