PROJECT_NAME = ''
PROJECT_ROOT = '/var/www/%s' % PROJECT_NAME
VENV_ROOT = ''
GIT_USERNAME = ''
GIT_PASSWORD = ''
GIT_REPO = 'https://%s:%s@bitbucket.org/boutiqueair/mxtrack.git' % (GIT_USERNAME, GIT_PASSWORD)
STAGING_SERVER = ''
STAGING_SERVER_SSH_USER = ''
STAGING_SERVER_DEPLOY_USER = ''
PRODUCTION_SERVER = ''
PRODUCTION_SERVER_SSH_USER = ''
PRODUCTION_SERVER_DEPLOY_USER = ''
