PROJECT_NAME = 'mxtracking'
PROJECT_ROOT = '/var/www/%s' % PROJECT_NAME
GIT_REPO = 'git@bitbucket.org:boutiqueair/mxtrack.git'
STAGING_SERVER = ''                 # IP or domain of staging server
STAGING_SERVER_SSH_USER = ''        # SSH username
STAGING_SERVER_SSH_PASSWORD = ''    # Only fill when sudo requires password on staging server
PRODUCTION_SERVER = ''              # IP or domain of production server
PRODUCTION_SERVER_SSH_USER = ''     # SSH username
PRODUCTION_SERVER_SSH_PASSWORD = '' # Only fill when sudo requires password on production server
