$label-cell-width: 90px;
$row-height: 30px;
$popover-bg-color: #e0e0e1;
$popover-text-color: #333;

.date-range-picker-group {
    .component-wrapper {
        display: inline-block;
        max-width: 200px;
        vertical-align: top;
    }
}

@mixin striped-background($color1, $color2, $barsize) {
    background: repeating-linear-gradient(
        45deg,
        $color1,
        $color1 $barsize,
        $color2 $barsize - 1,
        $color2 $barsize * 2 - 1
    );
}

.gantt {
    min-width: 600px;
    overflow: visible;

    .cover-wrapper {
        position: relative;
    }
    .gantt-labels {
        position: absolute;
        left: 0;
        top: 20px;
        z-index: 200;
        background: #e7eaec;
        .label-cell,
        .axis-cell {
            width: $label-cell-width;
            height: $row-height;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
            z-index: 2;
        }
        .label-cell {
            border-right: 1px solid $border-color;
            min-width: $label-cell-width;
            background-color: #fff;
            text-align: center;
            padding-top: 17px;
            height: $row-height * 2;
        }
        .axis-cell {
            text-align: left;
            border-bottom: 1px solid $border-color;
            & > a {
                padding: 5px 5px 4px 12px;
                display: block;
                position: relative;
                width: 100%;
                z-index: 2;
            }
            &.tail > a {
                background: $nav-bg;
                color: #fff !important;
                &:hover {
                    background: lighten($nav-bg, 10%);
                }
            }
            &.line {
                & > a {
                    background: $dark-gray;
                    color: $label-badget-color !important;
                    &:hover {
                        background: lighten($dark-gray, 10%);
                    }
                }
            }
        }
    }
    .cover {
        width: 100%;
        overflow-x: auto;
        top: -30px;
        margin-bottom: -30px;
        position: relative;
        .cover-inner {
            overflow: hidden;
            padding-top: 50px;
            min-width: 100%;
        }
        &.loading {
            position: relative;
            pointer-events: none;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
                z-index: 999;
            }
            &:after {
                content: 'Loading...';
                position: absolute;
                left: 50%;
                top: 150px;
                transform: translateX(-50%);
                color: #333;
                font-size: 20px;
                font-weight: 600;
                z-index: 1000;
            }
        }
    }

    .revision-controls {
        > select,
        > button {
            display: inline-block;
            margin-right: 5px;
            vertical-align: top;
        }
    }
    .unit-control {
        float: left;
    }
    .page-control {
        float: right;
        margin-left: 20px;
    }
    .current-datetime-button-container {
        float: right;
        margin-left: 15px;
    }
    .date-range-control {
        float: right;
        margin-left: 15px;
    }
    .timezone-control {
        float: right;
    }
    .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #C2D0DE;
        color: #2A4053;
        border-radius: 3px;
        text-align: center;
        z-index: 1;
        &.assigned {
            background-color: #999;
        }
        &.selected:not(.drag-clone) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                background: rgba(255, 255, 255, 0.5);
                border-radius: 3px;
                left: 2px;
                top: 2px;
                right: 2px;
                bottom: 2px;
            }
        }
        &.drag-clone {
            opacity: 0.8;
        }
        &.hobbs-green {
            @include striped-background(#B6D325, #C4DC48, 13px);
        }
        &.hobbs-yellow {
            @include striped-background(#F9C666, #FAD186, 13px);
        }
        &.hobbs-red {
            @include striped-background(#F4949C, #F37983, 13px);
        }
        .flight-info-table-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        table.flight-info {
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 70px;
            width: 97%;
            td {
                padding: 0;
                border: 0;
                vertical-align: middle;
            }
            .org,
            .dest {
                font-weight: 600;
                font-size: 1.15em;
            }
            .org {
                text-align: left;
            }
            .dest {
                text-align: right;
            }
            .number {
                font-size: 0.85em;
                padding: 2px 3px;
                text-align: center;
                width: 100%;
            }
        }
        .bar-popover {
            position: absolute;
            display: none;
            padding: 6px 18px;
            left: 30%;
            margin-left: -15px;
            bottom: 100%;
            margin-bottom: 10px;
            border-radius: 3px;
            background-color: $popover-bg-color;
            color: $popover-text-color;
            text-align: left;
            font-size: 0.9em;
            font-weight: 600;
            &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 100%;
                border-width: 7px 6px 0;
                border-style: solid;
                border-color: $popover-bg-color transparent;
            }
            .field {
                white-space: nowrap;
            }
            .field-hobbs-left {
                padding: 5px 8px;
                border-radius: 3px;
                margin: 4px -8px;
                font-weight: 700;
                background-color: #C2D0DE;
                span {
                    font-size: 1.4em;
                    margin-left: 5px;
                    vertical-align: -5%;
                }
                &.hobbs-green {
                    @include striped-background(#B6D325, #C4DC48, 13px);
                }
                &.hobbs-yellow {
                    @include striped-background(#F9C666, #FAD186, 13px);
                }
                &.hobbs-red {
                    @include striped-background(#F4949C, #F37983, 13px);
                }
            }
            hr {
                margin: 7px 0;
                border-top-color: #bbb;
            }
            .assignment-only {
                display: none;
            }
        }
        &:not(.dragging):not(.status-prototype):hover .bar-popover {
            display: block;
        }
        &.status-bar {
            padding-top: 0;
            text-align: center;
            background: none;
            & > span {
                line-height: 30px;
                color: #fff;
            }
            &:not(.status-prototype):hover,
            &.resizing {
                .bar-popover {
                    display: block;
                }
            }
        }
        &.maintenance {
            background-color: #95989A;
        }
        &.unscheduled-flight {
            background-color: #2A4053;
        }
    }
    &.small-cells .bar[data-status]:not(.status-prototype) > span {
        display: none;
    }
    &.small-cells .bar .flight-info {
        min-width: 0;
        .org,
        .dest {
            display: none;
        }
    }
    &.no-flight-number .bar .flight-info {
        .number {
            display: none;
        }
    }
    .status-bars {
        &.disabled {
            pointer-events: none;
        }
        .bar-container {
            float: left;
            display: block;
            position: relative;
            min-width: 140px;
            height: 30px;
            & + .bar-container {
                margin-left: 10px;
            }
        }
        .bar {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-top: 0;
            min-width: 140px;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        .drop-to-remove-area {
            float: right;
            position: relative;
            max-width: 100%;
            text-align: center;
            padding: 0 15px;
            color: inherit;
            border: 1px solid #999;
            background: transparent;
            cursor: pointer;
            height: 30px;
            line-height: 28px;
            border-radius: 3px;
            &.dragging-over {
                background: $red;
                border-color: $red;
                color: #fff;
            }
            .fa {
                pointer-events: none;
            }
        }
    }
    .btn-circle-xs {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block;
        border-radius: 999px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .table-wrapper {
        position: relative;
        min-width: 100%;
        margin-left: $label-cell-width;
    }
    .now-indicator {
        display: block;
        position: absolute;
        top: 60px;
        bottom: 0;
        border-left: 1px solid $red;
        z-index: 1;
        &.hidden {
            display: none;
        }
    }
    .selection-area-indicator {
        border: 1px solid $navy;
        background-color: rgba($navy, 0.5);
        position: absolute;
        display: none;
        z-index: 100;
        &.active {
            display: block;
        }
    }
    .gantt-table {
        width: 100%;
        background-color: #fff;

        .head {
            position: relative;
        }
        .units {
            display: flex;
            .unit {
                flex-grow: 1;
                flex-basis: 0;
            }
        }
        .unit {
            border-top: 0;
            text-align: center;
            line-height: $row-height;
            &.border-right {
                &:not(:last-child) {
                    border-right: 1px solid $border-color;
                }
            }
        }
        .shadow {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            background: #f0f0f1;
            display: none;
        }
        .row-line {
            position: relative;
            height: $row-height;
            text-align: center;
            border-bottom: 1px solid $border-color;
            a:not(.btn) {
                color: inherit;
            }
            .shadow {
                display: block;
            }
        }
        .bar[data-status] {
            /*&:before,
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                width: 5px;
                background-color: rgba(0, 0, 0, 0.15);
                cursor: ew-resize;
            }
            &:before {
                left: 3px;
            }
            &:after {
                right: 3px;
            }*/
            & > span {
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        #bar-placeholder {
            position: absolute;
            top: 0;
            background-color: rgba(200, 200, 200, 0.5);
            border-radius: 3px;
        }
    }
    .prototype {
        display: none;
    }
}

.clockpicker-popover {
    z-index: 2050 !important;
}

#flight-assignment-table {
    .assignment-only {
        display: block;
    }
}
