$label-cell-width: 90px;
$cell-width: 80px;
$popover-bg-color: #e0e0e1;
$popover-text-color: #333;

.date-range-picker-group {
    .component-wrapper {
        display: inline-block;
        max-width: 200px;
        vertical-align: top;
    }
}

.h-scroll-wrapper {
    overflow-x: auto;
    overflow-y: visible;
}

.gantt {
    min-width: 600px;

    .unit-control {
        float: left;
    }
    .page-control {
        float: right;
        margin-left: 30px;
    }
    .date-range-control {
        float: right;
    }
    .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $blue;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        padding-top: 5px;
        z-index: 1;
        cursor: move;
        &.assigned {
            background-color: #999;
        }
        table.flight-info {
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 70px;
            width: 97%;
            td {
                padding: 0;
                border: 0;
                vertical-align: middle;
            }
            .org,
            .dest {
                font-weight: 600;
                font-size: 1.15em;
            }
            .org {
                text-align: left;
            }
            .dest {
                text-align: right;
            }
            .number {
                font-size: 0.85em;
                padding: 0 3px;
                text-align: center;
                width: 100%;
            }
        }
        .bar-popover {
            position: absolute;
            display: none;
            padding: 6px 12px;
            left: 10px;
            bottom: 100%;
            margin-bottom: 10px;
            border-radius: 3px;
            background-color: $popover-bg-color;
            color: $popover-text-color;
            text-align: left;
            font-size: 0.9em;
            font-weight: 600;
            &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 100%;
                border-width: 7px 6px 0;
                border-style: solid;
                border-color: $popover-bg-color transparent;
            }
            .field {
                white-space: nowrap;
            }
        }
        &:not(.dragging):hover .bar-popover {
            display: block;
        }
        &.maintenance {
            background-color: $yellow;
            display: table;
            padding-top: 0;
            table-layout: fixed;

            .left-handle,
            .right-handle,
            .text {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
            }
            .left-handle,
            .right-handle {
                width: 20px;
                height: 100%;
                cursor: ew-resize;
            }
            .text {
                overflow: hidden;
            }
            &.status-prototype {
                .left-handle,
                .right-handle {
                    cursor: inherit;
                }
                .text {
                    padding: 0 10px;
                }
            }
        }
    }
    .status-bars {
        .bar {
            float: left;
            display: block;
            height: 30px;
            line-height: 30px;
            position: relative;
            padding-top: 0;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        .drop-to-remove-area {
            float: right;
            max-width: 100%;
            text-align: center;
            padding: 0 15px;
            color: inherit;
            border: 1px solid #999;
            background: transparent;
            cursor: pointer;
            &.dragging-over {
                background: $red;
                border-color: $red;
                color: #fff;
            }
            .fa {
                pointer-events: none;
            }
        }
    }
    .btn-circle-xs {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block;
        border-radius: 999px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .table-wrapper {
        background: #fff;
        display: inline-block;
    }
    .gantt-table {
        width: 100%;
        max-width: none;
        background-color: #fff;
        overflow: hidden;

        tr.head td {
            border-top: 0;
            vertical-align: middle;
        }
        tr.head.units td {
            padding: 5px 0 !important;
            min-width: $cell-width;
        }
        td {
            text-align: center;
            border: 1px solid $border-color;
            padding: 8px 10px;
            position: relative;
            &.label-cell,
            &.axis-cell {
                text-align: left;
                width: $label-cell-width;
                min-width: $label-cell-width;
                white-space: nowrap;
                padding: 5px 5px 5px 12px;
                font-size: 14px;
                font-weight: 600;
            }
            &.axis-cell.tail {
                background: $nav-bg;
                color: #fff;
            }
            &.axis-cell.line {
                background: $dark-gray;
                border-top-color: $dark-gray;
                color: $label-badget-color;
            }
            &.dragging-over {
                background: #f0f0f1;
            }
            a:not(.btn) {
                color: inherit;
                &:hover {
                    opacity: 0.85;
                }
            }
        }
        #bar-placeholder {
            position: absolute;
            top: 0;
            background-color: rgba(200, 200, 200, 0.5);
            border-radius: 3px;
        }
    }
    .prototype {
        display: none;
    }
}