$label-cell-width: 90px;
$cell-width: 20px;
$popover-bg-color: #e0e0e1;
$popover-text-color: #333;

.date-range-picker-group {
    .component-wrapper {
        display: inline-block;
        max-width: 200px;
        vertical-align: top;
    }
}

.gantt {
    min-width: 600px;
    overflow-x: hidden;

    .cover {
        width: 100%;
        overflow-x: auto;
        top: -30px;
        margin-bottom: -30px;
        position: relative;
        .cover-inner {
            overflow: hidden;
            padding-top: 50px;
            min-width: 100%;
        }
        &.loading {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.6);
                z-index: 999;
            }
            &:after {
                content: 'Loading...';
                position: absolute;
                left: 50%;
                top: 150px;
                transform: translateX(-50%);
                color: #333;
                font-size: 20px;
                font-weight: 600;
                z-index: 1000;
            }
        }
    }

    .unit-control {
        float: left;
    }
    .page-control {
        float: right;
        margin-left: 30px;
    }
    .date-range-control {
        float: right;
    }
    .bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $blue;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        z-index: 1;
        &.assigned {
            background-color: #999;
        }
        &.drag-clone {
            opacity: 0.8;
        }
        .flight-info-table-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        table.flight-info {
            position: absolute;
            top: 4px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 70px;
            width: 97%;
            td {
                padding: 0;
                border: 0;
                vertical-align: middle;
            }
            .org,
            .dest {
                font-weight: 600;
                font-size: 1.15em;
            }
            .org {
                text-align: left;
            }
            .dest {
                text-align: right;
            }
            .number {
                font-size: 0.85em;
                padding: 2px 3px;
                text-align: center;
                width: 100%;
            }
        }
        .bar-popover {
            position: absolute;
            display: none;
            padding: 6px 12px;
            left: 30%;
            margin-left: -15px;
            bottom: 100%;
            margin-bottom: 10px;
            border-radius: 3px;
            background-color: $popover-bg-color;
            color: $popover-text-color;
            text-align: left;
            font-size: 0.9em;
            font-weight: 600;
            &:before {
                content: '';
                position: absolute;
                left: 10px;
                top: 100%;
                border-width: 7px 6px 0;
                border-style: solid;
                border-color: $popover-bg-color transparent;
            }
            .field {
                white-space: nowrap;
            }
        }
        &:not(.dragging):hover .bar-popover {
            display: block;
        }
        &.maintenance {
            background-color: $yellow;
        }
        &.unscheduled-flight {
            background-color: #2C5F90;
        }
        &.status-bar {
            padding-top: 0;
            text-align: center;
            line-height: 30px;
            .status-popover {
                position: absolute;
                display: none;
                padding: 6px 12px;
                left: 30%;
                margin-left: -15px;
                bottom: 100%;
                margin-bottom: 10px;
                border-radius: 3px;
                background-color: $popover-bg-color;
                color: $popover-text-color;
                text-align: left;
                font-size: 0.9em;
                line-height: 1.5;
                font-weight: 600;
                &:before {
                    content: '';
                    position: absolute;
                    left: 10px;
                    top: 100%;
                    border-width: 7px 6px 0;
                    border-style: solid;
                    border-color: $popover-bg-color transparent;
                }
                .field {
                    white-space: nowrap;
                }
            }
            &:not(.status-prototype):hover,
            &.resizing {
                .status-popover {
                    display: block;
                }
            }
        }
    }
    &.small-cells .bar[data-status]:not(.status-prototype) > span {
        display: none;
    }
    &.small-cells .bar .flight-info {
        min-width: 0;
        .org,
        .dest {
            display: none;
        }
    }
    &.no-flight-number .bar .flight-info {
        .number {
            display: none;
        }
    }
    .status-bars {
        .bar-container {
            float: left;
            display: block;
            position: relative;
            min-width: 140px;
            height: 30px;
            & + .bar-container {
                margin-left: 10px;
            }
        }
        .bar {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-top: 0;
            min-width: 140px;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        .drop-to-remove-area {
            float: right;
            position: relative;
            max-width: 100%;
            text-align: center;
            padding: 0 15px;
            color: inherit;
            border: 1px solid #999;
            background: transparent;
            cursor: pointer;
            height: 30px;
            line-height: 28px;
            border-radius: 3px;
            &.dragging-over {
                background: $red;
                border-color: $red;
                color: #fff;
            }
            .fa {
                pointer-events: none;
            }
        }
    }
    .btn-circle-xs {
        width: 20px;
        height: 20px;
        padding: 0;
        display: inline-block;
        border-radius: 999px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
    .table-wrapper {
        position: relative;
        min-width: 100%;
        .now-indicator {
            display: block;
            position: absolute;
            top: 63px;
            bottom: 0;
            border-left: 1px solid $red;
            &.hidden {
                display: none;
            }
        }
    }
    .gantt-table {
        width: 100%;
        max-width: none;
        background-color: #fff;

        tr.head td {
            border-top: 0;
            vertical-align: middle;
            text-align: center;
        }
        tr.head.units td {
            padding: 5px 0 !important;
            min-width: $cell-width;
        }
        td {
            text-align: center;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 8px 10px;
            position: relative;
            &.border-right {
                &:not(:last-child) {
                    border-right: 1px solid $border-color;
                }
            }
            &.label-cell {
                border-right: 1px solid $border-color;
            }
            &.label-cell,
            &.axis-cell {
                text-align: left;
                width: $label-cell-width;
                min-width: $label-cell-width;
                white-space: nowrap;
                padding: 0;
                font-size: 14px;
                font-weight: 600;
            }
            &.axis-cell > a {
                padding: 5px 5px 5px 12px;
                display: block;
                position: relative;
                width: 100%;
                z-index: 2;
            }
            &.axis-cell.tail {
                & > a {
                    background: $nav-bg;
                    color: #fff;
                    &:hover {
                        background: lighten($nav-bg, 10%);
                    }
                }
            }
            &.axis-cell.line {
                border-top-color: $dark-gray;
                & > a {
                    background: $dark-gray;
                    color: $label-badget-color;
                    &:hover {
                        background: lighten($dark-gray, 10%);
                    }
                }
            }
            .shadow {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #f0f0f1;
                display: none;
            }
            &.dragging-over .shadow {
                display: block;
            }
            a:not(.btn) {
                color: inherit;
            }
        }
        .bar[data-status] {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 5px;
                bottom: 5px;
                width: 5px;
                background-color: rgba(0, 0, 0, 0.15);
                cursor: ew-resize;
            }
            &:before {
                left: 3px;
            }
            &:after {
                right: 3px;
            }
            & > span {
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        #bar-placeholder {
            position: absolute;
            top: 0;
            background-color: rgba(200, 200, 200, 0.5);
            border-radius: 3px;
        }
    }
    .prototype {
        display: none;
    }
}