{% extends "layout.html" %}
{% load staticfiles %}
{% load addclass %}

{% block head_title %}Create Inspection{% endblock %}

{% block page_title %}
    Create Inspection
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'inspection:index' %}">Inspection Programs</a>
        </li>
        <li>
            <a href="{% url 'inspection:inspection_program_details' program_id=inspection_program.id %}">{{ inspection_program.name }}</a>
        </li>
        <li class="active">
            <strong>Create Inspection</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Create New Inspection</h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                    <form class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field.errors }}
                                    {{ field | addclass:'form-control' }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="text-right m-t-lg">
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}