{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}{{ inspection_program.name }}{% endblock %}

{% block page_title %}
    {{ inspection_program.name }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'inspection:index' %}">Inspection Programs</a>
        </li>
        <li class="active">
            <strong>{{ inspection_program.name }}</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Inspections</h3>
        </div>
        <div class="ibox-content">
            <div class="m-b">
                <a href="{% url 'inspection:add_inspection_task' program_id=inspection_program.id %}" class="btn btn-w-m btn-primary">Add Inspection Task</a>
            </div>
            <table id="inspection-program-inspections-table" class="datatable table table-stripped toggle-arrow-tiny"
                data-name="inspection_program_inspections_table"
                data-default-sort-column="1"
                data-selectable="true">
                <thead>
                    <tr>
                        <th data-sortable="false"><input type="checkbox" class="select-all"></th>
                        <th>Name</th>
                        <th>Target</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inspection_task in inspection_tasks %}
                        <tr>
                            <td></td>
                            <td>{{ inspection_task.name }}</td>
                            <td>{{ inspection_task.target_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
