{% extends "layout.html" %}
{% load staticfiles %}
{% load permission %}
{% load tz %}

{% block head_title %}Coming Due {{ tail.number }}{% endblock %}

{% block page_title %}
    Coming Due {{ tail.number }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'routeplanning:index' %}">
                Route Planning Gantt
            </a>
        </li>
        <li class="active">
            <strong>Coming Due {{ tail.number }}</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div id="coming-due-list">
    </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript">
        window.initComingDueListPage('#coming-due-list', {
            tailId: {{ tail.id }},
            tailNumber: "{{ tail.number }}",
            revision: {{ revision_id }},
            comingDueListAPI: '{% url 'routeplanning:api_coming_due_list' %}',
            loadHobbsAPIBase: '{% url 'routeplanning:api_hobbs' hobbs_id=0 %}',
            saveHobbsAPI: '{% url 'routeplanning:api_save_hobbs' %}',
            urlToRedirectAfterSave: '{% url 'routeplanning:index' %}',
            {% if request.user|can_write_gantt %}
                writable: true,
            {% else %}
                writable: false,
            {% endif %}
        });
    </script>
{% endblock %}