{% extends "layout.html" %}
{% load staticfiles %}
{% load permission %}
{% load compress %}
{% load tz %}

{% block head_title %}Coming Due {{ tail.number }}{% endblock %}

{% block page_title %}
    Coming Due {{ tail.number }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'routeplanning:index' %}">
                Route Planning Gantt
            </a>
        </li>
        <li class="active">
            <strong>Coming Due {{ tail.number }}</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Actual Hobbs</h3>
                </div>
                <div class="ibox-content">
                    <form id="actual-hobbs-form" class="form-horizontal" action="{% url 'routeplanning:api_save_hobbs' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="action-after-save" name="action_after_save" value="save" />
                        <input type="hidden" name="tail_id" value="{{ tail.id }}" />
                        <input type="hidden" name="type" value="1" />
                        <input type="hidden" class="hobbs-id" name="hobbs_id" value="" />
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="actual-hobbs-date">Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="actual-hobbs-date" class="form-control hobbs-date" name="date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="actual-hobbs-time">Time</label>
                                    <div class="col-sm-9">
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" id="actual-hobbs-date" class="form-control hobbs-time" name="time" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="actual-hobbs-value">Hobbs</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="actual-hobbs-value" class="form-control hobbs-value" name="value" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="actual-hobbs-flight">Flight</label>
                                    <div class="col-sm-9">
                                        <select id="actual-hobbs-flight" class="form-control hobbs-flight" name="flight_id">
                                            {% for flight in flights %}
                                                <option value="{{ flight.id }}">
                                                    {{ flight.number }}: {{ flight.origin }}-{{ flight.destination }} at {{ flight.departure_datetime|localtime|date:"n/d/Y H:i:s" }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user|can_write_gantt %}
                            <div class="text-right m-t-lg">
                                <button class="btn btn-default save-and-add-another" type="button">Save and add another</button>
                                <button class="btn btn-default save-and-continue" type="button">Save and continue editing</button>
                                <button class="btn btn-primary save" type="submit">Save</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Next Due Hobbs</h3>
                </div>
                <div class="ibox-content">
                    <form id="next-due-hobbs-form" class="form-horizontal" action="{% url 'routeplanning:api_save_hobbs' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" class="action-after-save" name="action_after_save" value="save" />
                        <input type="hidden" name="tail_id" value="{{ tail.id }}" />
                        <input type="hidden" name="type" value="2" />
                        <input type="hidden" class="hobbs-id" name="hobbs_id" value="" />
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="next-due-hobbs-date">Date</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="next-due-hobbs-date" class="form-control hobbs-date" name="date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="next-due-hobbs-time">Time</label>
                                    <div class="col-sm-9">
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" id="next-due-hobbs-date" class="form-control hobbs-time" name="time" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="next-due-hobbs-value">Hobbs</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="next-due-hobbs-value" class="form-control hobbs-value" name="value" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if request.user|can_write_gantt %}
                            <div class="text-right m-t-lg">
                                <button class="btn btn-default save-and-add-another" type="button">Save and add another</button>
                                <button class="btn btn-default save-and-continue" type="button">Save and continue editing</button>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Coming Due List for {{ tail.number }}</h3>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-8 m-b">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="coming-due-list-date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <table id="coming-due-list" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
{% compress js %}
    <script src="{% static "js/hobbs.js" %}"></script>
{% endcompress %}
<script type="text/javascript">
    var csrfToken = "{{ csrf_token }}";

    $('.input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
    });

    $('.clockpicker').clockpicker();

    var comingDueList = new ComingDueList({
        tailId: {{ tail.id }},
        listSelector: '#coming-due-list',
        comingDueListAPI: '{% url 'routeplanning:api_coming_due_list' %}',
        deleteActualHobbsAPI: '{% url 'routeplanning:api_delete_actual_hobbs' hobbs_id=0 %}',
        apiCSRFToken: csrfToken,
        {% if request.user|can_write_gantt %}
            writeable: true,
        {% else %}
            writeable: false,
        {% endif %}
    });

    var actualHobbsForm = new HobbsForm({
        formSelector: '#actual-hobbs-form',
        loadHobbsAPI: '{% url 'routeplanning:api_get_hobbs' hobbs_id=0 %}',
        urlToRedirectAfterSave: '{% url 'routeplanning:index' %}',
        comingDueList: comingDueList,
    });

    var nextDueHobbsForm = new HobbsForm({
        formSelector: '#next-due-hobbs-form',
        loadHobbsAPI: '{% url 'routeplanning:api_get_hobbs' hobbs_id=0 %}',
        urlToRedirectAfterSave: '{% url 'routeplanning:index' %}',
        comingDueList: comingDueList,
    });

    comingDueList.setActualHobbsForm(actualHobbsForm);
    comingDueList.setNextDueHobbsForm(nextDueHobbsForm);

    $('#coming-due-list-date').on('change', function() {
        var date = new Date($(this).datepicker('getDate'));
        comingDueList.changeAnchorDate(date);
    });
</script>
{% endblock %}