{% extends "layout.html" %}
{% load staticfiles %}
{% load permission %}

{% block head_title %}Route Planning Gantt{% endblock %}

{% block page_title %}
    Route Planning Gantt
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Route Planning Gantt</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div id="gantt-container">
    </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript">
        var readOnly = {{ request.user|can_write_gantt|yesno:"false,true" }};
        var days = {{ days }};
        var hours = {{ hours }};
        var unit = 3600 / {{ units_per_hour }};

        /* Calculate start date */

        var startDate = new Date({{ start_tmstmp }} * 1000);

        /* Calculate end date */

        var endDate = new Date(startDate.getTime() - 1000);
        endDate.setDate(endDate.getDate() + 14);

        /* Date pickers init */

        {% if start_param %}
            $('#start_date').val(Utils.formatTo2Digits(startDate.getMonth() + 1) + '/' + Utils.formatTo2Digits(startDate.getDate()) + '/' + startDate.getFullYear());
        {% endif %}
        {% if end_param %}
            $('#end_date').val(Utils.formatTo2Digits(endDate.getMonth() + 1) + '/' + Utils.formatTo2Digits(endDate.getDate()) + '/' + endDate.getFullYear());
        {% endif %}

        /* Date form */

        $('#date-form').on('submit', function() {
            if ($('#start_date').val()) {
                var startDate = new Date($('#start_date').val());
                var _date = new Date(startDate.getTime());
                startDate.setUTCHours(0);
                startDate.setUTCDate(_date.getDate());
                $('#start_tmstmp').val(parseInt(startDate.getTime() / 1000));
            } else {
                $('#start_tmstmp').val('');
            }
            if ($('#end_date').val()) {
                var endDate = new Date($('#end_date').val());
                var _date = new Date(endDate.getTime());
                endDate.setUTCHours(0);
                endDate.setUTCDate(_date.getDate());
                $('#end_tmstmp').val(parseInt(endDate.getTime() / 1000));
            } else {
                $('#end_tmstmp').val('');
            }
        });

        /* Set table size */

        var $cover = $('.cover');
        var $coverInner = $cover.children('.cover-inner');
        var timeWindowCount = days > 1 ? 14 / days : 14 * (24 / hours);
        var timeWindowWidth = $cover.width() - 90;
        $coverInner.css('width', 90 + timeWindowWidth * timeWindowCount);
        if ({{ window_at_end }}) {
            $cover.scrollLeft((timeWindowCount - 1) * timeWindowWidth);
        }

        /* Prev, next time window buttons */

        var offset = 0.01;

        $('#btn-prev-time-window').on('click', function() {
            var $cover = $('.cover');
            var timeWindowWidth = $cover.width() - 90;
            var pos = $cover.scrollLeft() / timeWindowWidth;
            if (pos <= offset) {
                window.location.href = $(this).data('prev-period-href');
            } else {
                if (Math.abs(pos - Math.round(pos)) <= offset) {
                    pos = Math.floor(pos) - 1;
                } else {
                    pos = Math.floor(pos);
                }
                $cover.scrollLeft(pos * timeWindowWidth);
            }
        });

        $('#btn-next-time-window').on('click', function() {
            var $cover = $('.cover');
            var timeWindowWidth = $cover.width() - 90;
            var pos = $cover.scrollLeft() / timeWindowWidth;
            if (Math.abs(timeWindowCount - 1 - pos) <= offset) {
                window.location.href = $(this).data('next-period-href');
            } else {
                if (Math.abs(pos - Math.round(pos)) <= offset) {
                    pos = Math.ceil(pos) + 1;
                } else {
                    pos = Math.ceil(pos);
                }
                $cover.scrollLeft(pos * timeWindowWidth);
            }
        });

        /* Current date/time button */

        var windowLengths = [3, 6, 12, 24, 72, 168];

        $('#btn-now').on('click', function() {
            var now = new Date();
            var mode = {{ mode }};
            var windowLength = windowLengths[mode - 1];

            if (now >= startDate && now < endDate) {
                var diffSeconds = (now - startDate) / 1000;
                var windowPage = parseInt(diffSeconds / 3600 / windowLength);

                var $cover = $('.cover');
                var timeWindowWidth = $cover.width() - 90;

                $cover.scrollLeft(windowPage * timeWindowWidth);
            }
            else {
                var baseUrl = '{% url 'routeplanning:index' %}?mode=' + mode;
                var newStartDate = new Date(now.getTime());
                newStartDate.setUTCDate(1);
                newStartDate.setUTCHours(0); newStartDate.setUTCMinutes(0); newStartDate.setUTCSeconds(0);

                var diffSeconds = (now - newStartDate) / 1000;
                var windowStartSeconds = parseInt(diffSeconds / 3600 / windowLength) * windowLength * 3600;
                newStartDate.setUTCSeconds(windowStartSeconds);

                window.location.href = baseUrl + '&start=' + parseInt(newStartDate.getTime() / 1000);
            }
        });

        var lines = [
            {% for line in lines %}
                {
                    id: {{ line.id }},
                    name: "{{ line.name }}",
                },
            {% endfor %}
        ];

        var tails = [
            {% for tail in tails %}
                {
                    id: {{ tail.id }},
                    number: "{{ tail.number }}",
                },
            {% endfor %}
        ];

        /* Gantt table init */

        window.initGantt('#gantt-container', {
            lines: lines,
            tails: tails,
            ganttURL: "{% url 'routeplanning:index' %}",
            addTailURL: "{% url 'routeplanning:add_tail' %}",
            addLineURL: "{% url 'routeplanning:add_line' %}",
            editLineURL: "{% url 'routeplanning:edit_line' line_id=0 %}",
            loadDataAPIUrl: "{% url 'routeplanning:api_load_data' %}",
            assignFlightAPIUrl: "{% url 'routeplanning:api_assign_flight' %}",
            assignStatusAPIUrl: "{% url 'routeplanning:api_assign_status' %}",
            moveAssignmentAPIUrl: "{% url 'routeplanning:api_move_assignment' %}",
            removeAssignmentAPIUrl: "{% url 'routeplanning:api_remove_assignment' %}",
            resizeAssignmentAPIUrl: "{% url 'routeplanning:api_resize_assignment' %}",
            publishRevisionAPIUrl: "{% url 'routeplanning:api_publish_revision' %}",
            clearRevisionAPIUrl: "{% url 'routeplanning:api_clear_revision' %}",
            deleteRevisionAPIUrl: "{% url 'routeplanning:api_delete_revision' %}",
            days: days,
            hours: hours,
            unit: unit,
            writable: !readOnly,
            mode: {{ mode }},
            startTmstmp: {{ start_tmstmp }},
            prevStartTmstmp: {{ prev_start_tmstmp }},
            nextStartTmstmp: {{ next_start_tmstmp }},
            bigUnits: {{ big_units }},
            smallUnits: {{ small_units }},
        });
    </script>
{% endblock %}