{% extends "layout.html" %}
{% load staticfiles %}
{% load permission %}

{% block head_title %}Route Planning Gantt{% endblock %}

{% block page_title %}
    Route Planning Gantt
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Route Planning Gantt</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div id="gantt-container">
    </div>
{% endblock %}

{% block pagejs %}
    <script type="text/javascript">
        var readOnly = {{ request.user|can_write_gantt|yesno:"false,true" }};
        var unit = 3600 / {{ units_per_hour }};
        var lines = [
            {% for line in lines %}
            {
                id: {{ line.id }},
                name: "{{ line.name }}",
            },{% endfor %}
        ];
        var tails = [
            {% for tail in tails %}{
                id: {{ tail.id }},
                number: "{{ tail.number }}",
            },
            {% endfor %}
        ];
        var initialRevisions = [
            {% for revision in revisions %}{
                id: {{ revision.id }},
                published_datetime: "{{ revision.published_datetime|date:'c' }}",
                has_draft: {% if revision.has_draft %}true{% else %}false{% endif %},
            },
            {% endfor %}
        ];

        /* Gantt table init */

        window.initGantt('#gantt-container', {
            lines: lines,
            tails: tails,
            initialRevisions: initialRevisions,
            ganttURL: "{% url 'routeplanning:index' %}",
            addTailURL: "{% url 'routeplanning:add_tail' %}",
            addLineURL: "{% url 'routeplanning:add_line' %}",
            editLineURL: "{% url 'routeplanning:edit_line' line_id=0 %}",
            loadDataAPIUrl: "{% url 'routeplanning:api_load_data' %}",
            assignFlightAPIUrl: "{% url 'routeplanning:api_assign_flight' %}",
            assignStatusAPIUrl: "{% url 'routeplanning:api_assign_status' %}",
            moveAssignmentAPIUrl: "{% url 'routeplanning:api_move_assignment' %}",
            removeAssignmentAPIUrl: "{% url 'routeplanning:api_remove_assignment' %}",
            resizeAssignmentAPIUrl: "{% url 'routeplanning:api_resize_assignment' %}",
            publishRevisionAPIUrl: "{% url 'routeplanning:api_publish_revision' %}",
            clearRevisionAPIUrl: "{% url 'routeplanning:api_clear_revision' %}",
            deleteRevisionAPIUrl: "{% url 'routeplanning:api_delete_revision' %}",
            days: {{ days }},
            hours: {{ hours }},
            unit: unit,
            writable: !readOnly,
            mode: {{ mode }},
            startTmstmp: {{ start_tmstmp }},
            prevStartTmstmp: {{ prev_start_tmstmp }},
            nextStartTmstmp: {{ next_start_tmstmp }},
            bigUnits: {{ big_units }},
            smallUnits: {{ small_units }},
            windowAtEnd: {{ window_at_end }},
            startParamExists: {% if start_param %}true{% else %}false{% endif %},
            endParamExists: {% if end_param %}true{% else %}false{% endif %},
        });
    </script>
{% endblock %}