{% extends "layout.html" %}
{% load staticfiles %}
{% load compress %}
{% load permission %}

{% block head_title %}Route Planning Gantt{% endblock %}

{% block page_title %}
    Route Planning Gantt
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Route Planning Gantt</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="gantt loading{% if days > 1 %} small-cells{% endif %}{% if days > 3 %} no-flight-number{% endif %}">
        <div class="clearfix m-b-md"><!-- Top controls -->
            <div class="unit-control btn-group">
                <a class="btn btn-white{% if mode == '1' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=1&start={{ start_tmstmp }}">3 Hours</a>
                <a class="btn btn-white{% if mode == '2' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=2&start={{ start_tmstmp }}">6 Hours</a>
                <a class="btn btn-white{% if mode == '3' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=3&start={{ start_tmstmp }}">12 Hours</a>
                <a class="btn btn-white{% if mode == '4' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=4&start={{ start_tmstmp }}">24 Hours</a>
                <a class="btn btn-white{% if mode == '5' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=5&start={{ start_tmstmp }}">3 Days</a>
                <a class="btn btn-white{% if mode == '6' %} active{% endif %}"
                    href="{% url 'routeplanning:index' %}?mode=6&start={{ start_tmstmp }}">7 Days</a>
            </div>
            <div class="page-control">
                <a href="{% url 'routeplanning:index' %}?mode={{ mode }}&start={{ prev_start_tmstmp }}" class="btn btn-white">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="{% url 'routeplanning:index' %}?mode={{ mode }}&start={{ next_start_tmstmp }}" class="btn btn-white">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="date-range-control date-range-picker-group">
                <div class="component-wrapper">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="start_date" class="form-control">
                    </div>
                </div>
                <div class="component-wrapper">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="end_date" class="form-control">
                    </div>
                </div>
                <div class="component-wrapper">
                    <form id="date-form" action="{% url 'routeplanning:index' %}" method="GET">
                        <input type="hidden" name="mode" value="{{ mode }}" />
                        <input type="hidden" id="start_tmstmp" name="start" />
                        <input type="hidden" id="days" name="days" />
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </form>
                </div>
            </div>
        </div>
        <!-- Status bar sources, remove area -->
        {% if request.user|can_write_gantt %}
            <div class="status-bars clearfix">
                <div class="clearfix">Drag and drop: </div>
                <div class="bar-container">
                    <div class="bar status-bar maintenance status-prototype" draggable="true" data-status="2">
                        <span>Maintenance</span>
                        <div class="info status-popover">
                            <div class="field">Status: Maintenance</div>
                            <div class="field">Sched. Start Time: <span class="start"></span></div>
                            <div class="field">Sched. End Time: <span class="end"></span></div>
                        </div>
                    </div>
                </div>
                <div class="bar-container">
                    <div class="bar status-bar unscheduled-flight status-prototype" draggable="true" data-status="3">
                        <span>Unscheduled Flight</span>
                        <div class="info status-popover">
                            <div class="field">Status: Unscheduled Flight</div>
                            <div class="field">Sched. Start Time: <span class="start"></span></div>
                            <div class="field">Sched. End Time: <span class="end"></span></div>
                        </div>
                    </div>
                </div>
                <div class="drop-to-remove-area" id="drop-to-remove-area">
                    <i class="fa fa-trash-o"></i> Drag and drop here to remove assignment
                </div>
            </div>
        {% endif %}
        <!-- Bar prototype -->
        <div class="bar prototype">
            <div class="flight-info-table-wrapper">
                <table class="flight-info">
                    <tr>
                        <td class="org"></td>
                        <td class="number"></td>
                        <td class="dest"></td>
                    </tr>
                </table>
            </div>
            <div class="bar-popover">
                <div class="field">Flight <span class="number"></span></div>
                <div class="field">Origin: <span class="org"></span></div>
                <div class="field">Destination: <span class="dest"></span></div>
                <div class="field">Sched. Depature Time: <span class="departure"></span></div>
                <div class="field">Sched. Arrival Time: <span class="arrival"></span></div>
            </div>
        </div>
        <div class="cover loading123">
            <div class="cover-inner">
                <!-- Tails table -->
                <div class="table-wrapper">
                    <div class="now-indicator hidden"></div>
                    <div class="selection-area-indicator"></div>
                    <div id="flight-assignment-table" class="gantt-table m-b-none">
                        <div class="head">
                            <div class="label-cell" rowspan="2">
                                {% if request.user|can_write_gantt %}
                                    <a href="{% url 'routeplanning:add_tail' %}" class="btn btn-primary btn-circle-xs" type="button">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                {% endif %}
                                Tails
                            </div>
                            <div class="row-line units big-units">
                                {% for big_unit in big_units %}
                                    <div class="unit border-right">
                                        &nbsp;
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row-line units small-units">
                                {% for small_unit in small_units %}
                                    <div class="unit{% if days > 1 and forloop.counter|divisibleby:hours %} border-right{% endif %}">&nbsp;</div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for tail in tails %}
                            <div class="row-line" data-tail-number="{{ tail.number }}" data-index="{{ forloop.counter|add:-1 }}">
                                <div class="axis-cell tail">
                                    <a href="{% url 'routeplanning:edit_tail' tail_id=tail.id %}">{{ tail.number }}</a>
                                </div>
                                {% comment %}
                                {% for small_unit in small_units %}
                                    <td{% if days > 1 and forloop.counter|divisibleby:hours %} class="border-right"{% endif %}></td>
                                {% endfor %}
                                {% endcomment %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Lines table -->
                <div class="table-wrapper">
                    <div class="now-indicator hidden"></div>
                    <div class="selection-area-indicator"></div>
                    <div id="flight-template-table" class="gantt-table m-b-none">
                        <div class="head">
                            <div class="label-cell" rowspan="2">
                                {% if request.user|can_write_gantt %}
                                    <a href="{% url 'routeplanning:add_line' %}" class="btn btn-primary btn-circle-xs" type="button">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                {% endif %}
                                Lines
                            </div>
                            <div class="row-line units big-units">
                                {% for big_unit in big_units %}
                                    <div class="unit border-right" colspan="{{ big_unit_colspan }}">
                                        &nbsp;
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row-line units small-units">
                                {% for small_unit in small_units %}
                                    <div class="unit{% if days > 1 and forloop.counter|divisibleby:hours %} border-right{% endif %}">&nbsp;</div>
                                {% endfor %}
                            </div>
                        </div>
                        {% for line in lines %}
                            <div class="row-line" data-line="{{ line.id }}" data-index="{{ forloop.counter|add:-1 }}">
                                <div class="axis-cell line">
                                    <a href="{% url 'routeplanning:edit_line' line_id=line.id %}">{{ line.name }}</a>
                                </div>
                                {% comment %}
                                {% for small_unit in small_units %}
                                    <td{% if days > 1 and forloop.counter|divisibleby:hours %} class="border-right"{% endif %}></td>
                                {% endfor %}
                                {% endcomment %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    {% compress js %}
        <script src="{% static "js/interact.min.js" %}"></script>
        <script src="{% static "js/gantt.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        var readOnly = {{ request.user|can_write_gantt|yesno:"false,true" }};
        var days = {{ days }};
        var hours = {{ hours }};
        var unit = 3600 / {{ units_per_hour }};

        /* Calculate start date */

        var startDate = new Date({{ start_tmstmp }} * 1000);
        startDate.setHours(0);
        startDate.setMinutes(0);
        startDate.setSeconds(0);
        startDate.setMilliseconds(0);

        /* Calculate end date */

        var endDate = new Date(startDate.getTime() - 1000);
        endDate.setDate(endDate.getDate() + 14);

        /* Fill table date/time labels */

        var oneUnit = days > 1 ? 24 : hours;
        $('.head').each(function() {
            // Big units
            var $rowBigUnits = $(this).find('.row-line.big-units');
            var date = new Date(startDate.getTime());
            $rowBigUnits.children('.unit').each(function() {
                $(this).html(weekDayString(date.getDay()).substr(0, 3) + ' ' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + '/' +
                    date.getFullYear());
                date.setSeconds(date.getSeconds() + oneUnit * 3600);
            });

            // Small units
            var $row = $(this).find('.row-line.small-units');
            var date = new Date(startDate.getTime());
            if (days > 1 || hours >= 12) {
                $row.children('.unit').each(function() {
                    $(this).html(formatTo2Digits(date.getHours()));
                    date.setSeconds(date.getSeconds() + unit);
                });
            } else {
                $row.children('.unit').each(function() {
                    $(this).html(formatTo2Digits(date.getHours()) + ':' + formatTo2Digits(date.getMinutes()));
                    date.setSeconds(date.getSeconds() + unit);
                });
            }
        });

        /* Date pickers init */

        $('#start_date').val(formatTo2Digits(startDate.getMonth() + 1) + '/' + formatTo2Digits(startDate.getDate()) + '/' + startDate.getFullYear());
        $('#end_date').val(formatTo2Digits(endDate.getMonth() + 1) + '/' + formatTo2Digits(endDate.getDate()) + '/' + endDate.getFullYear());
        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
        });

        /* Date form */

        $('#date-form').on('submit', function() {
            var startDate = new Date($('#start_date').val());
            $('#start_tmstmp').val(parseInt(startDate.getTime() / 1000));
            var endDate = new Date($('#end_date').val());
            var days = parseInt((endDate - startDate) / 86400000) + 1;
            $('#days').val(days);
        });

        /* Set table size */

        var $cover = $('.cover');
        var $coverInner = $cover.children('.cover-inner');
        $coverInner.css('width', 90 + (parseFloat($cover.css('width').replace('px', '')) - 90) * (days > 1 ? 14 / days : 14 * (24 / hours)));

        /* Gantt table init */

        // var gantt = new RoutePlanningGantt({
        //     flightAssignmentTable: $('#flight-assignment-table'),
        //     flightTemplateTable: $('#flight-template-table'),
        //     loadDataAPIUrl: "{% url 'routeplanning:api_load_data' %}",
        //     assignFlightAPIUrl: "{% url 'routeplanning:api_assign_flight' %}",
        //     assignStatusAPIUrl: "{% url 'routeplanning:api_assign_status' %}",
        //     moveAssignmentAPIUrl: "{% url 'routeplanning:api_move_assignment' %}",
        //     removeAssignmentAPIUrl: "{% url 'routeplanning:api_remove_assignment' %}",
        //     resizeAssignmentAPIUrl: "{% url 'routeplanning:api_resize_assignment' %}",
        //     startDate: startDate,
        //     endDate: endDate,
        //     unit: unit,
        //     readOnly: readOnly,
        //     tablesWrapperSelector: '.cover',
        //     csrfToken: "{{ csrf_token }}",
        // });
    </script>
{% endblock %}