{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Route Planning Gantt{% endblock %}

{% block page_title %}
    Route Planning Gantt
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">
            <strong>Route Planning Gantt</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="h-scroll-wrapper">
        <div class="gantt">
            <div class="clearfix m-b-md"><!-- Top controls -->
                <div class="unit-control btn-group">
                    <a class="btn btn-white{% if mode == '1' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=1&start={{ start_tmstmp }}">3 Hours</a>
                    <a class="btn btn-white{% if mode == '2' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=2&start={{ start_tmstmp }}">6 Hours</a>
                    <a class="btn btn-white{% if mode == '3' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=3&start={{ start_tmstmp }}">12 Hours</a>
                    <a class="btn btn-white{% if mode == '4' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=4&start={{ start_tmstmp }}">24 Hours</a>
                    <a class="btn btn-white{% if mode == '5' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=5&start={{ start_tmstmp }}">3 Days</a>
                    <a class="btn btn-white{% if mode == '6' %} active{% endif %}"
                        href="{% url 'routeplanning:index' %}?mode=6&start={{ start_tmstmp }}">7 Days</a>
                </div>
                <div class="date-range-control date-range-picker-group">
                    <div class="component-wrapper">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="start_date" class="form-control">
                        </div>
                    </div>
                    <div class="component-wrapper">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="end_date" class="form-control">
                        </div>
                    </div>
                    <div class="component-wrapper">
                        <form id="date-form" action="{% url 'routeplanning:index' %}" method="GET">
                            <input type="hidden" name="mode" value="{{ mode }}" />
                            <input type="hidden" id="start_tmstmp" name="start" />
                            <input type="hidden" id="end_tmstmp" name="end" />
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </form>
                    </div>
                </div>
            </div>
            <!-- Bar prototype -->
            <div class="bar prototype">
                <span class="number"></span>
            </div>
            <!-- Tails table -->
            <table id="flight-assignment-table" class="table gantt-table m-b-md">
                <tbody>
                    <tr class="head days">
                        <td class="label-cell" rowspan="2">
                            <a href="{% url 'routeplanning:add_tail' %}" class="btn btn-primary btn-circle-xs" type="button">
                                <i class="fa fa-plus"></i>
                            </a>
                            Tails
                        </td>
                        {% for big_unit in big_units %}
                            <td colspan="{{ big_unit_colspan }}" {% if units_per_hour == 1 %}data-timestamp="{{ big_unit }}"{% endif %}>
                                {% if units_per_hour > 1 %}
                                    {{ big_unit }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="head units">
                        {% for small_unit in small_units %}
                            <td>{{ small_unit }}</td>
                        {% endfor %}
                    </tr>
                    {% for tail in tails %}
                        <tr data-tail-number="{{ tail.number }}">
                            <td class="axis-cell tail">
                                <a href="{% url 'routeplanning:edit_tail' tail_id=tail.id %}">{{ tail.number }}</a>
                            </td>
                            {% for small_unit in small_units %}
                                <td></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Lines table -->
            <table id="flight-template-table" class="table gantt-table m-b-md">
                <tbody>
                    <tr class="head days">
                        <td class="label-cell" rowspan="2">
                            <a href="{% url 'routeplanning:add_line' %}" class="btn btn-primary btn-circle-xs" type="button">
                                <i class="fa fa-plus"></i>
                            </a>
                            Lines
                        </td>
                        {% for big_unit in big_units %}
                            <td colspan="{{ big_unit_colspan }}" {% if units_per_hour == 1 %}data-timestamp="{{ big_unit }}"{% endif %}>
                                {% if units_per_hour > 1 %}
                                    {{ big_unit }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr class="head units">
                        {% for small_unit in small_units %}
                            <td>{{ small_unit }}</td>
                        {% endfor %}
                    </tr>
                    {% for line in lines %}
                        <tr data-line="{{ line.id }}">
                            <td class="axis-cell line">
                                <a href="{% url 'routeplanning:edit_line' line_id=line.id %}">{{ line.name }}</a>
                            </td>
                            {% for small_unit in small_units %}
                                <td></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
    <script src="{% static "js/gantt.js" %}"></script>
    <script type="text/javascript">
        var startDate = new Date({{ start_tmstmp }} * 1000);
        {% if end_tmstmp %}
            var endDate = new Date({{ end_tmstmp }} * 1000);
        {% else %}
            var endDate = new Date(startDate.getTime());
            endDate.setDate(endDate.getDate() + {{ days }} - 1);
            endDate.setHours(23);
            endDate.setMinutes(59);
            endDate.setSeconds(59);
            endDate.setMilliseconds(0);
        {% endif %}

        /* Replace timestamps with dates in the table header */
        $('td[data-timestamp]').each(function() {
            var $td = $(this);
            var date = new Date($td.data('timestamp') * 1000);
            $td.html(format2Digits(date.getMonth() + 1) + '/' + format2Digits(date.getDate()) + '/' + date.getFullYear());
        });

        /* Date pickers init */
        $('#start_date').val(format2Digits(startDate.getMonth() + 1) + '/' + format2Digits(startDate.getDate()) + '/' + startDate.getFullYear());
        $('#end_date').val(format2Digits(endDate.getMonth() + 1) + '/' + format2Digits(endDate.getDate()) + '/' + endDate.getFullYear());
        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
        });

        /* Date form */
        $('#date-form').on('submit', function() {
            var startDate = new Date($('#start_date').val());
            $('#start_tmstmp').val(parseInt(startDate.getTime() / 1000));
            var endDate = new Date($('#end_date').val());
            $('#end_tmstmp').val(parseInt(endDate.getTime() / 1000));
        });

        /* Gantt table init */
        
        startDate.setHours(0);
        startDate.setMinutes(0);
        startDate.setSeconds(0);
        startDate.setMilliseconds(0);

        var unit = 3600 / {{ units_per_hour }};
        var gantt = new RoutePlanningGantt({
            flightAssignmentTable: $('#flight-assignment-table'),
            flightTemplateTable: $('#flight-template-table'),
            loadDataAPIUrl: "{% url 'routeplanning:api_load_data' %}",
            assignFlightAPIUrl: "{% url 'routeplanning:api_assign_flight' %}",
            startDate: startDate,
            endDate: endDate,
            unit: unit,
            csrfToken: "{{ csrf_token }}",
        });
    </script>
{% endblock %}