{% extends "layout.html" %}
{% load staticfiles %}
{% load addclass %}
{% load permission %}

{% block head_title %}{{ title }}{% endblock %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'routeplanning:index' %}">
                Route Planning Gantt
            </a>
        </li>
        <li class="active">
            <strong>{{ title }}</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>{{ title }}</h3>
                </div>
                <div class="ibox-content">
                    <form id="add-tail-form" class="form-horizontal" action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="action_after_save" name="action_after_save" value="save" />
                        {% for field in form %}
                            <div class="form-group">
                                <label class="col-sm-4" for="{{ field.name }}">{{ field.label }}</label>
                                <div class="col-sm-8">
                                    {{ field.errors }}
                                    {{ field | addclass:'form-control' }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if request.user|can_write_gantt %}
                            <div class="text-right m-t-lg">
                                <button id="save-and-add-another" class="btn btn-default" type="button">Save and add another</button>
                                <button id="save-and-continue" class="btn btn-default" type="button">Save and continue editing</button>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Full List of Tails</h3>
                </div>
                <div class="ibox-content">
                    {% for tail in tails %}
                        <div class="clearfix m-xs tail-container">
                            {{ tail.number }}
                            <div class="pull-right">
                                <a href="{% url 'routeplanning:edit_tail' tail_id=tail.id %}" class="btn btn-primary btn-xs"><i class="fa fa-fw fa-edit"></i></a>
                                <a class="btn-delete btn btn-danger btn-xs" href="javascript:;" data-delete-url="{% url 'routeplanning:delete_tail' tail_id=tail.id %}"><i class="fa fa-fw fa-trash"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagejs %}
<script type="text/javascript">
    var csrfToken = "{{ csrf_token }}";
    $('#save-and-add-another').on('click', function() {
        $('#action_after_save').val('save-and-add-another');
        $('#add-tail-form').submit();
    });
    $('#save-and-continue').on('click', function() {
        $('#action_after_save').val('save-and-continue');
        $('#add-tail-form').submit();
    });
    $('.btn-delete').on('click', function() {
        var $btn = $(this);
        $.ajax({
            url: $btn.data('delete-url'),
            method: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            },
        })
        .then(function() {
            $btn.closest('.tail-container').remove();
        });
        return false;
    });
</script>
{% endblock %}