{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Aircraft Details{% endblock %}

{% block page_title %}
    Aircraft Details
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home:overview' %}">Overview</a>
        </li>
        <li class="active">
            <span>{{ aircraft.reg }} Aircraft Details</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    {% include '../partial/aircraft_details.html' %}
{% endblock %}
