{% extends "layout.html" %}
{% load staticfiles %}

{% block head_title %}Aircraft {{ aircraft.reg }} Task List{% endblock %}

{% block page_title %}
    Aircraft {{ aircraft.reg }} Task List
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home:overview' %}">Overview</a>
        </li>
        <li>
            <a href="{% url 'home:aircraft_details' reg=aircraft.reg %}">{{ aircraft.reg }}</a>
        </li>
        <li class="active">
            <span>Task List</span>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h3>Task List</h3>
        </div>
        <div class="ibox-content">
            <h5>00 Task Item (1)</h5>
            <h5>01 Task Item (18)</h5>
            <h5>03 Task Item (21)</h5>
            <h5>10 Task Item (6)</h5>
            <h5>15 Task Item (17)</h5>
        </div>
    </div>
{% endblock %}
