DEBUG = True
DATABASES['default'] = dj_database_url.config(default='postgres://db_user_name:db_user_pass@localhost/db_name')
DATABASES['default']['ENGINE'] = 'django.db.backends.postgresql_psycopg2'

# ALLOWED_HOSTS = ['mxdev.boutiqueair.com',]    # Allowed Hosts config on Production server

# COMPRESS_OFFLINE = True       # Django compressor mode. True on Production server, False on Development server
