DEBUG = False   # Should be False for production server

DATABASES['default'] = dj_database_url.config(default='postgres://db_user_name:db_user_pass@localhost/db_name')
DATABASES['default']['ENGINE'] = 'django.db.backends.postgresql_psycopg2'

ALLOWED_HOSTS = ['mxdev.boutiqueair.com',]    # Allowed Hosts config on Production server

# COMPRESS_OFFLINE = False       # Uncomment this line for development. Sets Django compressor to compress on the fly.

CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        "LOCATION": "redis://127.0.0.1:6379/1",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
            # "PASSWORD": "mysecret"		# Set redis server password here if you've set one
        }
    }
}
